
DATABASE_URL=postgresql://neondb_owner:npg_VpoRLU1FMXW0@ep-twilight-bar-b4m7wuxz-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require

AWS_ENDPOINT_URL_S3="https://br-raspy-wildflower-b4xsmb22.storage.c-6.us-east-2.aws.neon.tech"
AWS_ACCESS_KEY_ID="nak_live_fde74dace8f14951b308be565b722d47"
AWS_SECRET_ACCESS_KEY="nsk_live_ce65fe12aa87a15508b00ce11a7e3aac2d934e6b966cfdb401f1fb92be866145"
AWS_REGION="us-east-2"

NEON_STORAGE_BUCKET=defaultbucket

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2V0dGxpbmctcmluZ3RhaWwtNzM1OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_XUHj1R98Jakgepk5o5LMZtUsRiOajGDTHUdb0LtX0r

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

ADMIN_USER_ID=user_3Jr9ijhBpAcZPXNHMpocsfmYlxw




# QiCard Payment Gateway (Sandbox Environment)
QICARD_BASE_URL=https://uat-sandbox-3ds-api.qi.iq/api/v1
QICARD_USERNAME=paymentgatewaytest
QICARD_PASSWORD=WHaNFE5C3qlChqNbAzH4
QICARD_TERMINAL_ID=237984
QICARD_PUBLIC_KEY=
